.user{
    height: 400px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(-30px);
    padding: 5px;
    border: 1px solid red;
}

.user img{
    width: 295px;
    height: 295px;
    border-radius: 100%;
}

.user h3{
    font-size: 20px;
    color: #57606A;
    text-align: left;
}

.user p{
    width: 100%;
    padding: 5px 0;
    text-align: center;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #D3D4D6;
    background-color: #F3F4F6;
    margin-top: 10px;
}

.ReposCard{
    width: 100%;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid red;
}

.Repository{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}